body
{
direction: rtl;
background-color:whitesmoke;
}
@font-face {
    font-family:'Vazirmatn ';
    src: url("./vazirmatn-33.003/");
}
@font-face {
    font-family:'Montserrat';
    src: url("./Montse/Montserrat-Black.ttf");
}
.divs
{ 
    font-family: 'Vazirmatn';
color: #000000; 
margin-top: 3vh;
margin-bottom: 2vh;
display: flex;
flex-direction: column;
align-items: center;
}
#f10
{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height:1.4rem;
}
#f11
{
    width: 64rem;
    height:38rem;
    box-shadow: 3px 3px 10px gray;
    border-radius: 10px;
}
#f12
{
    font-family:'Montserrat';
    font-weight: 700;
    font-size: 2.6rem;
   margin-bottom: 1vh;
}
#f13
{
    font-style: normal;
    font-family:'Montserrat';
    font-weight: 700;
    font-size: 4rem;
}
#f15,#f16,#f14
{
    font-style: normal;
    text-decoration: none;
    font-weight: 100;
    font-family:'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
 color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
background-color:#0BAACA;;
}
.h2s
{
  font-family: 'Montserrat';  
  font-style: normal;
  font-weight: 700;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#img2
{
   
        width: 64rem;
        height:28rem;
        box-shadow: 3px 3px 10px gray;
        border-radius: 10px;
}
#f17
{
    font-size: 1.4rem;
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 700;
    align-self: right;
    margin-top: 20px;
}

#f18
{

    font-size: 2.4rem;
    font-family:'Montserrat';
    font-weight: 700;
  
}

.con
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 14vh;
    margin-bottom:10vh ;
}

.images
{
    margin-left: 3vw;
width: 8vw;
height: auto;
margin-bottom:3vh ;
opacity: 0.4;
}

.logos
{
    display: flex;
    justify-content: center;
    text-align: center;
}
#f19
{
    margin-right:20px ;
    margin-top: 11rem;
    background-color:whitesmoke;
    border-radius: 10%;
   background-color: white;
    width:14rem;
    height: 14rem;
}
#f20
{
    background-color:whitesmoke;
    border-radius: 10%;
    background-color: white;
   width:14rem;
    height: 14rem;
}
#f21
{
    background-color:whitesmoke;
    border-radius: 10%;
    background-color: white;
    width:14rem;
    height: 14rem;
}
.titles
{
    font-size: 1.2rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
}
.conte
{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
}

.ic{
  width: 3rem;
  height: 3rem;
  margin-bottom: 2.6rem;
 
}

.c1
{
   display: flex;
flex-direction: column;
text-align: center;
margin-right: 2vw;
    width: 22rem; 
    height: 20rem;
    padding: 1rem;
   background-color: white;
    border-radius: 4%;
    margin-top: 1.4vh;
}
.c2
{
    margin: 0.8rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.4rem;
}
.c3
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;  
}
.bag
{

    width: 4rem;
    height: 4rem;
    background-color:#F8F9FA;;
    border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0px auto;
 
}
#f23
{
display: block;
 
}
.c4
{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 4rem;
}
.c5
{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 2rem;
margin-right: 1rem;
}
#impo
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6rem;
    color: red;
    margin-top: 5vh;
    letter-spacing: -0.2px;

}
#img3
{
    width:40rem;
    height: 30rem;
   border-radius: 5%;
   margin-right: 4vw;
}
#f24
{
   width: 70rem;
   height: 10vh;
   background-color: white;

}
#f25
{
     font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.6rem;
text-decoration: none;
color: black;
letter-spacing: -0.2px;
}
#o1
{
    width:10rem;
    height: 8rem;
    position: absolute;
left: 6rem;
  bottom: 0%;
}
#o2
{
    width: 8rem;
    height: 6rem;
    position: absolute;
    left: 3.6rem;
bottom: 0%;
}
#st1
{
   
    position: absolute;
    left:0px;
    bottom: 0%;
    width: 9rem;
    height:2.6rem;
}
#co1
{
    position: absolute;
    left:6rem; 
    font-size: 1.5rem; 
    background-color:#15F57C ;
    margin-right: 3vw;
     width: 13rem;
     height: 4rem; 
     
}
@media screen  and (min-width:1000px) and (max-width:1200px)
{
    html{
        font-size: 13px;
       }
       
}
@media screen  and (min-width:900px) and (max-width:1000px)
{
    html{
        font-size: 12px;
       }
       
}
@media screen  and (min-width:800px) and (max-width:900px)
{
    html{
        font-size: 11px;
       }
       
}
@media screen  and (min-width:745px) and (max-width:800px)
{
    html{
        font-size: 10px;
       }
       
}

@media screen  and (min-width:650px) and (max-width:745px)
{
    html{
        font-size: 9px;
       }
      
}
@media screen  and (min-width:576px) and (max-width:650px)
{
    html{
        font-size: 8px;
       }
      
}
@media screen and (min-width:444px) and (max-width:576px)
{
    html{
        font-size: 6px;
       }
     
}
@media screen and (min-width:371px) and (max-width:444px)
{
    html{
        font-size: 5px;
       }
     
}
@media screen and (min-width:300px) and (max-width:371px)
{
    html{
        font-size: 4px;
       }
     
}
@media screen and (min-width:230px) and (max-width:300px)
{
    html{
        font-size: 3px;
       }
     
}
@media screen and (min-width:162px) and (max-width:230px)
{
    html{
        font-size: 2px;
       }
     
}
@media screen and (max-width:162px)
{
    html{
        font-size: 1px;
       }
     
}